/**
 *  Demo styles
 */

*,
*:after,
*:before {
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
}

body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

a {
  text-decoration: none;
}

.map {
  width: 100%;
}

.map__frame {
  position: relative;
  display: block;
  width: 100%;
  height: 120px;
  overflow: hidden;
  cursor: pointer;
}

/* Google Map (static) */
.map__frame img {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  width: 100%;
  height: auto;
}

/* Google Map (dynamic) */
.gm-style {
  width: 100%;
  min-height: 300px;
}

/* Google Map (dynamic) - info window */
.gm-style-iw {
  font-size: 12px;
  line-height: 18px;
}

.map__print,
.map__legend {
  display: none;
}

.map__frame + .map__legend {
  display: block;
  height: 240px;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  font-size: 12px;
  line-height: 18px;
}

.map__title,
.map__address,
.map__description {
  display: block;
  color: #000;
}

.map__title {
  margin: 0;
  font-weight: bold;
  font-size: 14px;
}

.map__address {
  margin: 0 0 10px;
  font-weight: bold;
}

.map__legend ul {
  margin: 0;
  padding: 0;
}

.map__legend ul li {
  position: relative;
  width: 100%;
  padding: 12px 10px 11px 38px;
  border-bottom: 1px solid #d0d0d0;
}

.map__marker {
  position: absolute;
  left: 10px;
  top: 13px;
  width: 19px;
  height: 28px;
  font-size: 24px;
  line-height: 24px;
  text-align: center;
}

@media only screen and (min-width: 768px) {
  .map {
    height: 100%;      
    height: 100vh;
  }

  .map__legend {
    display: block;
    width: 192px;
    height: auto;
    overflow-y: auto;
    padding: 5px 10px;
    margin: 0 0 5px;
    background: #fff;
    color: #444;
    line-height: 25px;
    border: 1px solid #bbb;
  }

  .map > .map__legend {
    display: none;
  }

  .map__legend strong {
    color: #000;
  }

  .map__legend a {
    color: #000;
  }
  
  .map__legend a:hover {
    color: #ff6600;
  }

  .map__frame {
    min-height: 100%;   
    background: #fff;
  }

  .map__frame + .map__legend {
    display: none;
  }

  .map__print {
    position: absolute;
    left: 30px;
    bottom: 30px;
    z-index: 1;
    display: inline-block;
    padding: 6px 12px;
    background: #ff6600;
    color: #fff;
    font-size: 14px;
    text-transform: uppercase;
  }

}