.myInputStyle{
    width: 100%;
}

#right-panel {
    display: none;
    width: 50%;
    font-family: 'Roboto','sans-serif';
    line-height: 30px;
    padding-left: 10px;
    height:450px;
    border: 2px solid #3872ac;
    overflow: scroll;
}
@media print {
    #map {
        height: 500px;
        margin: 0;
    }
    #right-panel {
        float: none;
        width: auto;
    }
}

/*header navbar*/
nav.navbar {
    background: #fff;
    /*font-family: 'Lato', serif;*/
    font-size: 1.2rem;
    letter-spacing: 0.4rem;
}
.scroll-down {
    margin-top: 3%;
}

/*banner*/
header .banner {
    background: url("../img/large-google-api-logo.png") 70% no-repeat;
    background-position: top;
    background-size: 100%;
    height: 55%;
    position: relative;
    z-index: -10;
}
.banner-content {
    /*color: #fff;*/
    color: black;
    font-family: "Lato", serif;
    text-align: right;
    text-transform: uppercase;
    margin-top: 17%;
    letter-spacing: 0.4rem;
}
.banner-content h1 {
    font-size: 3.5rem;
    font-weight: bold;
}
.banner-content h3 {
    font-size: 3rem;
    margin: 5% 0;
    /*color: #eeeeee;*/
    color: black;
    font-weight: bold;
}

.parallaxTopPadding {
    padding-top: 60px;
}

/* media queries */
@media screen and (min-width: 991px) {
    header .banner {
        background-position: center;
    }
}
@media screen and (max-width: 990px) {
    header .banner-content {
        text-align: center;
    }
    .scroll-down {
        display: none;
    }
}
@media screen and (max-width: 767px) {
    header .banner-content h1 {
        font-size: 4rem;
    }
    header .banner-content h3 {
        font-size: 2.5rem;
    }
    header .social-list {
        display: none;
    }
    .block {
        width: 65%;
        margin: 20px auto;
    }
}
@media screen and (max-width: 491px) {
    header .banner-content h1 {
        font-size: 2.5rem;
    }
    header .banner-content h3 {
        font-size: 1.5rem;
    }
}
